[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/ImGuiFileDialog"]
	path = external/ImGuiFileDialog/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "external/implot"]
	path = external/implot/implot
	url = https://github.com/epezent/implot.git
[submodule "external/libigl"]
	path = external/libigl
	url = https://github.com/libigl/libigl.git
[submodule "external/polyscope"]
	path = external/polyscope
	url = https://github.com/nmwsharp/polyscope.git
[submodule "external/matplotlib-cpp"]
	path = external/matplotlib-cpp
	url = https://github.com/jackc92/matplotlib-cpp.git
[submodule "external/fast_float"]
	path = external/fast_float/fast_float
	url = https://github.com/fastfloat/fast_float.git
[submodule "external/tinyad"]
	path = external/tinyad
	url = https://github.com/patr-schm/TinyAD.git
[submodule "external/spectra"]
	path = external/spectra
	url = https://github.com/yixuan/spectra.git
[submodule "external/catch2"]
	path = external/catch2
	url = https://github.com/catchorg/Catch2.git
